div#pop-up {
    display: none;
    text-align: center;

    position: absolute;
    width: 140px;
    padding: 10px;

    background: linear-gradient(90deg, rgba(236, 97, 211, 0.4) 0%, rgba(155, 85, 231, 0.4) 100%);
    backdrop-filter: blur(.2rem);

    color: white;
    border: 1px solid white;
    font-size: 90%;
    z-index: 1000;
    border-radius: 15px;
    overflow: hidden;
  }

  #top-bar {
    margin: 0;
    /* background-color: white; */
  }

  #flickbait-text {
    height: 15px;
    width: auto;
  }

  #hover-logo {
    height: 15px;
    width: auto;
    padding-right: 5px;
  }

  p {
    font-family: sans-serif;
    color: white;
    margin: 0;
  }